*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    box-sizing: border-box;


}

a{
    color: aliceblue; 

    text-decoration: none;
}
li{
    list-style: none;
}


html{
    scroll-behavior: smooth;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
        padding: 0 10px;
        
    }
    
}
//burger 
.burger{
    cursor: pointer;
    display: none;
    margin-left: auto;
}
.line {
    display: block;
    width: 55px;
    height: 4px;
    background-color: aliceblue;
    margin: 5px auto 15px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:last-child{
        margin-bottom: 5px;
    }
}
@media screen and(max-width:880px) {
    .burger{
        display: block;
        z-index: 100000000000000000000000000000;


    }
    
    .burger.active .line:nth-child(2){
        opacity: 0;

    }
    .burger.active .line:nth-child(1){
        opacity: 1;
        transform: translateY(19px) rotate(45deg);
    }
    .burger.active .line:nth-child(3){
        opacity: 1;
        transform: translateY(-19px) rotate(-45deg);
    
    }

    .cats-nav{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #0d0e0e;
        width: 100%;
        text-align: center;
        transition: .3s;
    }
    .spawn-cat{
        margin-bottom: 1em;
    }
    .nav-item{
        font-size: 1.4em;
    }
    .nav-item:first-child{
        margin-top:1em ;
    }
    .cats-nav.active{
        left: 0;
    }
}
//header
.fixed-header{
    background-color: #0d0e0e;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000000000000000;
    top: 0;
    left: 0;
    
    

}
header{
    transition: .3s;
    width: 100%;
    background-color: #0d0e0e;
    position: fixed;
    z-index: 1000000000000000;
    padding: 20px 0px;
    
}
.spawn-cat{
    user-select: none;
    cursor: pointer;
    position: relative;
    font-weight: 700;
    background-color: aliceblue;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    padding: 10px 15px;
    transition: .2s;
    border: none;
    &:hover{
        letter-spacing: .15em;
        color:  #c1947d;
        background-color: #c1947d;
    }
    &:active{
        letter-spacing: .05em;
    }
    &::before{
        content: '';
        position: absolute;
        inset: 2px;
        background-color: rgb(13, 14, 14);
    }
    
    span{
        position: relative;
        z-index: 10;
    }

}
.header-wrapper{
    width: 100%;
    display: flex;
    
    
    color: aliceblue;
    
    @media screen and (max-width: 1200px) {
        padding: 0 10px;
        
    }
}
.cats-nav{
    margin-left: auto;
    display: flex;
    gap: 40px;
    align-items: center;
    
    font-size: 1.2em;
    a{
        transition: .3s;
        &:hover{
        border-bottom: 2px solid #c1947d;
        color: #c1947d;
    }
    }
}
.logo {
    margin: auto 0;
    font-size: 2em;
    font-weight: 700;
    transition: .5s;
    &:hover{
        
        color: #c1947d;
    }
    
}
.spawn-cat {
    margin-left: 20px;

    
}

//cat memes section 

.cat-memes {
    margin: 30px 0;
    padding: 30px 0;
    .cutie-img{
        min-height: 490px;
    } 
    box-sizing: border-box;
    background-color: #f8f6f5;
    .cat-wrapper{
        text-align: center; 
        margin: 0 auto;
    }
    #cutie-heading{
    
        
            font-family: 'Cute Font', cursive;
            font-size: 3.3em;
            transition: .5s;
            &:hover{
                color: #c1947d;
            }
            
    
        
        
    
    }
    .arrow{
        cursor: pointer;
        position: absolute;
        width: 80px;
        height: 80px;
    
        margin: 0 10px;
        border-radius: 1px;
        transition: .5s;
    
        &:hover{
            background-color: rgba(0,0,0,0.8);
        }
        span{
            position: absolute;
            width: 40px;
            height: 40px;
            border: 4px solid aliceblue;
        }
        .next-span {
            
            top:25%;
            right: -10%;
            border-right: none;
            border-bottom: none;
            transform: translateX(-50%) rotate(-45deg);
            
        }
        .prev-span {
            top:25%;
            left: -10%;
            border-left: none;
            border-top: none;
            transform: translateX(50%) rotate(-45deg);
        }
    }
}
.next{
    top: 40%;
    left: -10px;
}
.prev{
    top: 39%;
    right: -10px;
}
.cat-memes-holder {
    display: flex;
    max-width: 900px;
    height: 70%;
    margin: 0 auto;
    position: relative;

    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    
    img{
    
            width: 100%;
            max-height: 520px;
            object-fit: cover;
            background-attachment: fixed;

        
    }
}
.cutie-dots{
    margin: 15px 0;
    display: flex;
    gap: 10px;
}
.dot{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(189, 187, 187);
    cursor: pointer;
    transition: .5s;
}
.active-dot{
    background-color: rgb(122, 119, 119);
}


//masia blocks


.masia {
    position: relative;
    padding-top: 100px;
    margin-bottom: 80px;
    &__wrapper {
        
    margin: 10px auto;  
        max-width: 1300px;
    }

    &__heading {
        font-weight: 500;
        text-align: center;
        font-size: 2.5em;
        margin: 30px auto;
        max-width: 810px;
        margin-top: 50px;
        margin-bottom: -50px;
        
    }
}
.masia-blocks{
    
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    
    
    
    @media screen and (max-width:1200px) {
        flex-wrap: wrap;
    }
}
#masia-line{
    top: 50%;
    @media (max-width: 1200px) {
        height: 40vh ;
    }
    
}
.line-through-blocks{
    
    
    width: 100vw;
    height: 40vh;
    background-color: #c1947d;
    position: absolute;
    z-index: -1;
    top: 25%;
    @media (min-height: 1200px) {
        height: 25vh ;
        top: 26%;
    }
    @media (max-width: 1180px) {
        top: 35%;
        height: 40vh;
    }
    @media (max-width: 800px) {
        height: 0 !important;
    }
}
.story-block {
    
    box-shadow: 4px 11px 31px -6px rgba(0,0,0,0.73);
    padding: 20px;
    max-width: 390px;
    margin: 20px 0;
    @media screen and (max-width:800px) {
        max-width: 90%;
    }
    background-color: #f8f6f5;
    &__date {
        text-align: center;
        font-size: 2em;
        font-weight: 700;
        
    }

    &__text {
        font-size:1.3em ;
    }


    
}
.masia-photo{
    width:100%;
        max-height: 350px;
        object-fit: cover;
        object-position: center;
        
}
.fade {
    animation: fade 1.5s ;
}
@keyframes fade {
    0%{
        opacity: .4;
    }
    100%{
        opacity: 1;
    }
}
//table

.select-cat{
    padding: 40px 0 100px 0;
    background-color: #f8f6f5;
    
}

.table {
    
    border-collapse: collapse;
    background-color: #eae2da;
    
		&__wrapper {
            box-shadow: 4px 11px 31px -6px rgba(0,0,0,0.73);
            border-radius: 10px;
            overflow-x:auto;
            &::-webkit-scrollbar {
                display: none;
            }
    
		}
        
    & tr td:not(:last-child){
        border-right: 5px dashed gray;
    }
}
.table-names {
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 2.5em;
    
    
}

.table-img img {
    max-width: 400px;
    height: auto;
    object-fit: cover;
    padding: 0px 40px;
    padding-bottom: 20px;
}
.table-price {
    padding: 20px 0;
    text-align: center;
    font-size: 2em;
    
    
}
.table-description {
    
    text-align: center;
    font-size: 1.4em;
    line-height: 1.5em;
    & td{
        padding-bottom: 20px;
    }
    & td{
        max-width: 100px;
    }
}
.table-info {
    
    margin: 10px 0;
    padding-left: 20px;
    font-size: 1.2em;
    color: #4b4b4b99;
}

.chooshe-cat {
    text-align: center;
    margin-bottom: -60px;
    span{
    
        font-size: 4.5em;
        
        transition: .5s;
        font-family: 'Cute Font', cursive;
            &:hover{
                color: #c1947d;
            }
    }
}


// cat facts


.cat-facts {
    
    
    
		
        .facts-heading{
            
            margin: 0 auto;
            
            top: -120px;
            text-align: center;
            @media screen and(max-width: 1045px) {
                top: -250px;
            }
            span{
    
                font-size: 4em;
                
                transition: .5s;
                font-family: 'Cute Font', cursive;
                    &:hover{
                        color: #c1947d;
                    }
            }
        }
}
.facts-wrapper{
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 10%;
    margin: 50px auto;
    
    @media screen  and (max-width: 1180px){
        flex-wrap: wrap;
    
    }
    
}
.fact-half1 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    
}
.fact-block {
    &:nth-child(1){
        @media screen and(max-width: 1200px) {
            order: 2;
        }
    }
    &:nth-child(2){
        @media screen and(max-width: 1200px) {
            order: 1;
        }
    }
    border-radius: 5px;
    
    box-shadow: 4px 11px 31px -6px rgb(0 0 0 / 73%);
    &:nth-child(even){
        background-color: rgb(49, 54, 56);
        border: 5px solid rgb(49, 54, 56);
        color: aliceblue;
        
    }
    &:nth-child(odd){
    
        background-color: #eae2da;
    }
    
        @media screen and(max-width: 600px) {
            flex-wrap: wrap;
        }
    
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
		&__info {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
		}

		&__title {
            font-size: 1.6em;
            font-weight: 700;
            text-align: center;
            line-height: 1.3em;
            @media screen and(max-width: 600px) {
                font-size: 2em;
            }
		}

		&__text {
            max-width: 350px;
            font-size: 1.2em;
            padding: 0px 10px;
            text-align: center;
            @media screen and(max-width: 600px) {
                font-size: 1.6em;
            }
		}

		&__img {
            margin: 0 auto;
            max-width: 300px;
            
            
            img{
                border-radius: 5px;
                width: 100%;
                max-height: 200px;
                object-fit: contain;
                object-position: center;
                background-attachment: fixed;
                
            }
		}

		
}
.fact-half2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    @media screen  and (max-width: 1180px){
        margin-top: 30px;
        gap: 30px;
    }

}

//bubble maker
.box{
    position: relative;
    
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: top;
}
.bubble-maker-info{
    border-top: 13px solid aliceblue;
    margin-top: 50px;
    width: 100vw;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    background-color: #0d0e0e;
    padding: 15px 0;
    flex-wrap: wrap;
    @media (max-width:400px) {
        height: 170px;
    }
}
.bubbles-data{
    margin: auto 0;
    display: flex;
    flex-direction: column;

}
.where-bubble-come-from{
    text-align: center;
    margin-left: 40px;
    max-width: 220px;
    margin-top: 10px;
    
    color: rgba(240, 248, 255, 0.54);
    font-size: 1.3em;
    

    
}
.total-bubbles {
    
    color: rgba(240, 248, 255, 0.92);
    font-size: 1.7em;
    
   
}
.catched {
    
    color: rgba(240, 248, 255, 0.92);
    font-size: 1.7em;

}

.bubble-maker-images{
    img{
        display: none;
    }
}

.bubble{

    position: relative;
    border-radius: 50%;
    opacity: .95;
    border: 3px solid rgb(134, 134, 238);
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.5);
    transform-origin: center;
    animation: bubbleFly 30s linear;

}
.bubble-inside{
    border-radius: 50%;
    z-index: 100000000000000000000000;
    background-size: contain;
    position: absolute;
    
    
}
.bubble-maker {
    margin-bottom: -10px;
    &__wrapper {
        position: relative;
    }
    
}


@keyframes bubbleFly {
    0%{
        
        transform: translateY(0%);
        

    }
    100%{
        
        transform:  translateY(-8200%);
    }
}
//footer

footer{
    background-color: #0d0e0e;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-links {
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    
    justify-content: space-around;
}
.footer__wrappper{
    width: 100vw;
}
.footer-link {
    margin: 0 10px;
    a{
        min-width: 200px;
        line-height: 1.8em;
        font-size: 1.4em;
        transition: .5s;
        &:hover{
            color: #c1947d;
        }
    }

}
